<footer class="footer">
  <div class="footerLeft">
    <p>Made with <span>&hearts;</span> by Ange M @ GA LDN</p>
  </div>
  <div class="twitter footerRight">
    <a class="twitter-follow-button"
    href="https://twitter.com/AngelaMogli"
     data-show-count="false">

  Follow @AngelaMogli</a>
  
</div>
</footer>
