<footer>
  <div>
    <p>Made with <span>&hearts;</span> by Ange M @ GA LDN</p>
  </div>
  <div class="twitter">
    <a class="twitter-follow-button"
    href="https://twitter.com/AngelaMogli"
    data-size="large" data-show-count="false">

  Follow @AngelaMogli</a>
</div>
</footer>
