<nav class="navbar">
  <ul>
    <li id="nav-left"><a href="/">Home</a></li>
    <li id="nav-left"><a href="/artists">artists</a></li>
    <li id="nav-left"><a href="/artists/new">Add New</a></li>

    <% if (locals.isAuthenticated) { %>

        <li id="nav-right"><a href="/logout">Logout</a></li>
        <li id="nav-right"><a href="/users/<%= user.id %>">Profile</a></li>
        <li id="nav-right"><p>Hi <%= user.username %>!</p></li>

    <% }  else { %>

        <li id="nav-right"><a href="/register">Register</li></a>
        <li id="nav-right"><a href="/login">Login</li></a>

    <% } %>
  </ul>
</nav>
