<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div>
    <a href="/">Home</a>
    <a href="/poets">Poets</a>
    <a href="/poets/new">Add New</a>
  </div>
    <% if (locals.isAuthenticated) { %>
      <div>
        <a href="/logout">Logout</a>
        <a href="/profile">Profile</a>
      </div>
    <% }  else { %>
      <div>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
      </div>
  <% } %>
</nav>
