<nav class="navbar">
  <span class="leftNav">
    <a href="/">Home</a>
    <a href="/poets">Poets</a>
    <a href="/poets/new">Add New</a>
  </span>
    <% if (locals.isAuthenticated) { %>
      <span class="rightNav">
        <a href="/logout">Logout</a>
        <a href="/users/<%= user.id %>">Profile</a>
        <p>Hi <%= user.username %>!</p>
      </span>
    <% }  else { %>
      <span class="rightNav">
        <a href="/register">Register</a>
        <a href="/login">Login</a>
      </span>
  <% } %>
</nav>
