<nav class="navbar">
  <ul>
    <a href="/"><li>Home</li></a>
    <a href="/poets"><li>Poets</li></a>
    <a href="/poets/new"><li>Add New</li></a>

    <% if (locals.isAuthenticated) { %>
      <div class="rightNav">
        <a href="/logout"><li>Logout</li></a>
        <a href="/users/<%= user.id %>"><li>Profile</li></a>
        <p><li>Hi <%= user.username %>!</li></p>
      </div>
    <% }  else { %>
      <div class="rightNav">
        <a href="/register"><li>Register</li></a>
        <a href="/login"><li>Login</li></a>
      </div>
    <% } %>
  </ul>
</nav>
