    <header>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1>BLACK GIRL MAGIC <small>creatives</small></h1>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="col-10 offset-md-1">
      <p>Write some info about why I made the site etc......
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>



      </div>
      </div>
    </main>

  </body>
</html>
