    <header>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1>BLACK GIRL MAGIC <small>creatives</small></h1>
        </div>
      </div>
    </header>
    <main>
      <div class="row">
        <div class="col-8 offset-md-2">
      <p>Black Girl Magic is a concept and movement, created by CaShawn Thompson in 2013. It was introduced as a way of celebrating the power resilience and beauty of black women world wide. </p>
      <p>Black Girl Magic creative is a database designed as a site to share with others, your views on the most inspiring black women within the creative industry. Musicians, actors, artists, poets, writers, upload a picture of your your inspiration with your reason why she is inspirational to you. When you're done, check out what others have put up and check links for more information. #Blackgirlmagic
      </p>

        </div>
      </div>
    </main>
