<div class="container error-page">
  <h1>404: Not Found</h1>
  <div class="row">
    <section>
      <h2>There's nowt there mate!</h2>
    <img src="goats.gif" alt="Funny gif right here!">
      <p>Looks like you're trying to access a part of the site that doesn't exist, or it has been moved.</p>
      <p>Please use the navigation links above to find what you are looking for.</p>
    </section>
  </div>
</div>
