<div class="container error-page">
  <h1>500: Internal Server Error</h1>
  <div class="row">

  <h2><%= err.message %></h2>

  <% if(locals.err.stack) { %>
  <pre>
    <%= err.stack %>
  </pre>
  <% } %>

  </div>
</div>
