<div class="container">
  <h1>Edit Comment</h1>
  <div class="row">
  <section class="col-lg-6 artist-form">  
    <form method="POST" action="/artists/<%= artist.id %>/comments/<%= comment.id %>">

      <input type="hidden" name="_method" value="PUT">
      <div>
        <textarea name="content" id="comment" rows="6" cols="50"><%= comment.content %></textarea>
      </div>
      <button class="btn btn-primary edit-btn">Submit</button>
    </form>
  </div>
</div>
