$purple-color: #4C1043;
$yellow-color: #FCC200;


main {
  margin-top: 40px;
  background-color: #fffcf2;
  font-family: 'Lato', sans-serif;
  p {
    font-size: 18px;
    text-align: justify;
  }
  h1 {
    font-size: 50px;
    margin: 30px auto;
  }
}
header {
  nav {
    &.navbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content{
  flex: 1;
}


div {
  &.jumbotron {
  min-height: 250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/images/angela-davis.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  border-bottom: 5px solid $purple-color;

    h1 {
    position: absolute;
    color: white;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 50px;
   }
  }
}

nav {
  background-color: black;
  border-bottom: 5px solid $purple-color;
  font-family: 'Cinzel', serif;
  letter-spacing: 1px;
  font-size: 16px;
  height: 50px;
  color: $yellow-color;
  position: fixed;
  #nav-right {
    float: right;
  }
  a {
    color: $yellow-color;
    &:hover {
      color: white;
      text-decoration: none;
    }

  }
  ul {
    li {
      display: inline-block;
      line-height: 25px;
      padding: 0 10px;
      &:last-of-type {
            border-right: none;
          }
      #nav-right {
        float: right;
      }


    }
  }
}



ul {
  list-style: none;
  li {
    &.poetImg {
      margin-top: 30px;
      div.card-inverse:hover {
        animation: grow 5s ease;
        z-index: 3;
      }
    div.card-img-overlay {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
      text-align: center;
      h4 {
        margin-top: 70%;
        }
      }
    }
  }
}



ul {
  &.poetRow {
    padding: 0;
    margin: 0;
  }
}

body {
  background-color: white;
}

img {
  &.indexImg {
  height: 220px;
  width: 245px;
  border: 3px solid black;
  transition: 1s ease;

  }

}

@keyframes grow {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.0);
  }
}

section {
  &.show-page-user {
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;

  }
}

p {
  &.small-content {
    color: #018810;
  }
}

img {
  max-height: 400px;
  &.show-page-image {
    border: 10px groove $purple-color;
  }
}




section {
  &.comment-section {
    text-align: center;
    margin: 0 auto;
      & h4 {
        &.show-header {
        text-align: left;
        margin: 20px auto;
        font-size: 30px;
      }
    }

  }

}

span {
  &.wiki {
    a {
      text-decoration: none;
    }
  }
}

text area {
  &.comment-input {
    margin-bottom: 20px;
  }
}

div {
  &.read-comment {
    text-align: center;
    margin: 20px auto;
  }
  &.comment-content {
    border-top: 1px solid gray;
    p {
      font-size: 15px;
      padding: 10px;

    }
  }
}

div {
  &.poet-edit-delete {
    display: block;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  button {
    &.delete-btn {
      background-color: red;
    }
    &.add-btn {
      margin-top: 20px;
    }
  }
  }
}

button {
  &.edit-btn {
  margin-bottom: 10px;
  background-color: $purple-color;
  border: none;
  }
  &.add-btn {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: $purple-color;
  border: none;
  color: white;
  }
}

a {
  &.edit-btn {
  margin-bottom: 10px;
  background-color: $purple-color;
  border: none;
  }
}




iframe {
  margin: 4px;
  margin-top: 20px;
  margin-bottom: 30px;

  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;

}

div {
  &.add-poet-page {
    section {
      &.quote-image {
        display: inline;
        text-align: center;
      }
      &.poet-form {
        margin-top: 30px;
      }
    }
  }
}

div {
  &.delete-user {
    button {
      background-color: red;
      color: white;
      margin: 20px;
    }
  }
  &.details-margin {
    margin: 20px;
  }
  &.user-profile {
    text-align: center;
     h4 {
       font-size: 25px;
      &.details {
        display: inline;
      }
    }
    p {
      display: inline;
    }
  }
}

div {
  &.error-page {
    text-align: center;
  }
}

div {
  &.login {
    text-align: center;
  }
}


footer {
  font-family: 'Lato', sans-serif;
  background-color: black;
  color: $yellow-color;
  height: 70px;

  & div.footerRight {
    display: inline-block;
    float: right;
  }
  & div.footerLeft {
    display: inline-block;
  }
  p {
    line-height: 50px;
    margin: auto 20px;
  }
  div.twitter {
    height: 70px;
    overflow: hidden;
    line-height: 25px;
    margin: auto 20px;
  }
}
