main {
  background-color: #fffcf2;


}


div {
  &.jumbotron {
  min-height: 250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/images/angela-davis.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  border-bottom: 5px solid #4C1043;

    h1 {
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    color: white;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 50px;
   }
  }
}

nav {
  background-color: black;
  border-bottom: 5px solid #4C1043;
  p{
  color: #FCC200;
  }
  a {
    color: #FCC200;
    font-family: 'Cinzel', serif;
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
    padding: 0 10px;
    border-right: 1px solid #FCC200;
    &:last-of-type {
          border-right: none;
        }
      }
}




ul {
  li {
    &.poetImg {
    margin-top: 30px;
    & div.card-img-overlay {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
      text-align: center;
      h4 {
        margin-top: 80%;
        }
      }
    }
  }
}



ul {
  &.poetRow {
    padding: 0;
    margin: 0;
  }
}

body {
  background-color: white;
}

img {
  height: 220px;
  width: 250px;
}

li {
  &.poetImg {
    list-style: none;
  }
}
