<div class="index container">
  <form method="GET">
    <label for="">Search by category of work</label>
    <input type="text" name="q" placeholder="Search" list="category">
      <datalist id="category">
        <option value="poet"></option>
        <option value="musician"></option>
        <option value="actress"></option>
        <option value="author"></option>
      </datalist>
  </form>
  <ul class="row artistRow">
    <% artists.forEach(artist => { %>
      <li class="artistImg col-lg-3 col-md-8 col-sm-10">
        <div class="card card-inverse">
          <a href="/artists/<%= artist.id %>">
            <img class="indexImg grow" src="<%= artist.imageSRC %>">
            <div class="card-img-overlay">
              <h4 class="card-title"><%= artist.name %></h4>
            </div>
          </a>
        </div>
      </li>
    <% }); %>
  </ul>

</div>
