<div class="container add-artist-page">
  <h1 class="title-header">Add to the collection</h1>
  <div class="row">
    <section class="col-lg-6 artist-form">
      <form action="/artists" method="post" enctype="multipart/form-data">
        <div class="field form-group">
          <label for="image">Image</label>
          <input type="file" name="image" >
        </div>
        <div class="field form-group">
          <label for="name">Name</label>
          <input class="form-control" type="text" name="name" required>
        </div>
        <div class="field form-group">
          <p for="category">Category of Work</p>
          <div class="btn-group" data-toggle="buttons">
            <% categories.forEach((category) => { %>
              <label for="category" class="btn btn-primary">
              <input id="categoryTags" type="checkbox" value="<%= category %>" name="category" autocomplete="off"><%= category %>
              </label>
            <% }) %>
          </div>
        </div>
        <div class="field form-group">
          <label for="reason">Why I like her work:</label>
          <textarea class="form-control" type="text" name="reason" required></textarea>
        </div>
        <div class="field form-group">
          <label for="recommend">Recommended work:</label>
          <textarea class="form-control" type="text" name="recommend"></textarea>
        </div>
        <button class="btn btn-primary add-btn">Add Artist</button>
      </form>
    </section>
    <section class="quote-image col-6">
      <img src="../assets/images/angelou-quote.jpg" alt="Quote by Maya Angelou">
    </section>
  </div>
</div>
