<div class="index container">
  <ul class="row poetRow">
    <% poets.forEach(poet => { %>
      <li class="poetImg col-lg-3 col-md-8 col-sm-10">
        <div class="card card-inverse">
          <a href="/poets/<%= poet.id %>">
            <img class="indexImg" src="<%= poet.imageSRC %>">
            <div class="card-img-overlay">
              <h4 class="card-title"><%= poet.name %></h4>
            </div>
          </a>
        </div>
      </li>
    <% }); %>
  </ul>

</div>
