<div>
  <a href="/poets/new">Add New</a>
  <ul class="row">
    <% poets.forEach(poet => { %>
      <li class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-inverse">
          <a href="/poets/<%= poet.id %>">
            <img class="card-img" src="<%= poet.image %>" width="100%" height="250">
              <div class="card-img-overlay">
                <h4 class="card-title"><%= poet.name %></h4>
              </div>
          </a>
        </div>
      </li>
    <% }); %>
  </ul>
</div>
