<div class="container add-poet-page">
  <h1 class="title-header">Add to the collection</h1>
  <div class="row">
    <section class="col-lg-6 poet-form">
      <form action="/poets" method="post" enctype="multipart/form-data">
        <div class="field form-group">
          <label for="image">Image</label>
          <input type="file" name="image" >
        </div>
        <div class="field form-group">
          <label for="name">Name</label>
          <input class="form-control" type="text" name="name" required>
        </div>
        <div class="field form-group">
          <label for="reason">Why I like her work:</label>
          <textarea class="form-control" type="text" name="reason" required></textarea>
        </div>
        <div class="field form-group">
          <label for="recommend">Recommended reads:</label>
          <textarea class="form-control" type="text" name="recommend"></textarea>
        </div>
        <button class="btn btn-primary add-btn">Add Poet</button>
      </form>
    </section>
    <section class="quote-image col-6">
      <img src="../assets/images/angelou-quote.jpg" alt="Quote by Maya Angelou">
    </section>
  </div>
</div>
