<div class="card">
  <img src="<%= poet.image %>" width="100%">
  <div class="card-block">
    <h3><%= poet.name %></h3>
    <p><%= poet.reason %></p>
    <em><p><%= poet.recommend %></p></em>
  </div>

</div>
